In [1]:
print("Hello World")

Hello World

In [6]:
# this is a comment which is ignored by interpreter
# and for the ease of developers

Literal constants
- Numbers
  - Integers
  - Floats
  - Complex
- Strings
  - Single quotes
  - Double quotes
  - Triple quotes
  - Escape sequences (\n,\t,\r)
  - Explicit line joining

In [13]:
a=5

In [9]:
print(a)

5

In [15]:
a=2.3

In [16]:
print(a)

2.3

In [17]:
type(a)

float

In [18]:
b=1+5j

In [19]:
print(b)

(1+5j)

In [20]:
type(b)

complex

In [21]:
a= "Yash S Patil "

In [22]:
print(a)

Yash S Patil

In [23]:
type(a)

str

In [24]:
# python doesn't have character datatype every character is a string

In [25]:
a='v'

In [26]:
print(a)

v

In [27]:
type(a)

str

In [28]:
# in python single line string can be written using single or double quotes
# and multiple line string can be written using triple single quotes or
# triple double quotes

In [34]:
a="python"
print(a)
b='Yash Patil'
print(b)

c= '''
This is multi 
line string
'''
print(c)
d="""
This is multi 
line string 
"""
print(d)

python
Yash Patil

This is multi
line string


This is multi
line string

### Arithmetic operators(+,-*,**,/,//,%)

In [39]:
a=10
b=21
print(a+b) # addition
print(a-b) # subtraction
print(a*b) # multiplication
print(a/b) # floating division 
print("%0.4f"%(a/b)) # floating division only upto 4 decimal places
print(a//b) # print only integer value to the left side and ignore decimals
print(a**b) # a to the power b 
print(b%a) # gives the remainder

31
-11
210
0.47619047619047616
0.4762
0
1000000000000000000000
1

### Multiple Variable Assignment

In [40]:
a,b,c=10,20,30.4
print(a,b,c)

10 20 30.4