In [1]:
a="yash"

In [2]:
print(a)

yash

In [3]:
a='abc'
print(a)

abc

In [6]:
a='''hi this is a 
multiline string
'''

In [7]:
print(a)

hi this is a
multiline string

In [12]:
ord('c') # returns the ascii value index

99

In [13]:
chr(99) # returns the ascii value character

'c'

### String Opearations 
- formated strings
- strip
- split 
- replace
- count

In [14]:
name="Yash"
age=21
year=4

In [17]:
print("My name is "+name+". I am "+str(age)+" years old. I am in "+str(year)+ " year")

My name is Yash. I am 21 years old. I am in 4 year

In [18]:
print("My name is %s. I am %d years old. I am in %d year."%(name,age,year))

My name is Yash. I am 21 years old. I am in 4 year.

In [19]:
print("My name is {}. I am {} years old. I am in {} year.".format(name,age,year))

My name is Yash. I am 21 years old. I am in 4 year.

### f-strings

In [20]:
print(f"My name is {name}. I am {age} old. I am in {year} year")

My name is Yash. I am 21 old. I am in 4 year

### strip - removes the whitespaces

In [21]:
st= "     goood morning   "

In [22]:
st

'     goood morning   '

In [24]:
st.rstrip()

'     goood morning'

In [25]:
st.lstrip()

'goood morning   '

In [26]:
st.strip()

'goood morning'

In [38]:
resp=input(" Enter Yes or No")

 Enter Yes or No     No

In [39]:
resp.strip()=="No"

True

### split - creates list from string

In [40]:
st="My name is Yash Patil"

In [41]:
st

'My name is Yash Patil'

In [43]:
st.split(" ")

['My', 'name', 'is', 'Yash', 'Patil']

### replace

In [44]:
a="My name is Yash"

In [45]:
a

'My name is Yash'

In [47]:
b=a.replace("Yash","Alex")

In [48]:
b

'My name is Alex'

In [49]:
st="aaaazzz"

In [50]:
st

'aaaazzz'

In [51]:
st.replace("a","b")

'bbbbzzz'

### Count

In [54]:
a="My name is abc"

In [58]:
a.count("b")

1

### List 
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [].
1. Ordered  2. Mutable 3. Accessed using index 4. Hetrogenous

In [59]:
a = [1,2,3,4]

In [60]:
a

[1, 2, 3, 4]

In [61]:
a[0]

1

In [62]:
a=["yash",1,1.6,print]

In [69]:
a[3]

In [64]:
a[1]

1

In [74]:
a=[1,2,3,4]
b=[3,4,5,6]

In [71]:
len(a)

4

In [75]:
a+b

[1, 2, 3, 4, 3, 4, 5, 6]

In [78]:
a * 5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [79]:
1 in a # whether 1 exist in a

True

In [80]:
for x in a:
    print(x)

1
2
3
4

In [81]:
# forward and backward indexing

In [82]:
a

[1, 2, 3, 4]

In [83]:
a[1]

2

In [85]:
a[-1] # last element

4

In [87]:
a[-3] # third last element

2

In [88]:
str="Yash"

In [89]:
str[-1]

'h'

In [90]:
str[-2]

's'

In [93]:
a=[4,5,6,7,8,9]

In [94]:
a[1:4]   # [1,4)  print elements form 1 to 3rd index

[5, 6, 7]

In [97]:
a[0:6:2] # print elements from 0 to 5th index with a jump of 2

[4, 6, 8]

In [98]:
a="Yash Patil"

In [100]:
a[::-1]    # reverse a string

'litaP hsaY'

In [101]:
b=["Yash","Patil",1,2]

In [103]:
b[::-1]    # reverse a list

[2, 1, 'Patil', 'Yash']

Check if palindrome

In [109]:
a = "abcba"

In [110]:
a == a[::-1]

True

Update the list

In [113]:
a=[1,2,3,4]

In [114]:
a.insert(1,"Yash")   # insert yash in first index of list

In [115]:
a

[1, 'Yash', 2, 3, 4]

In [116]:
a.append("patil")   # add at last

In [117]:
a

[1, 'Yash', 2, 3, 4, 'patil']

Delete list elements

In [118]:
a=[1,2,3,4]

In [119]:
a.pop()   # pop the last element of list

4

In [120]:
a

[1, 2, 3]

In [121]:
a.pop(1)   # pop the element from the first index

2

In [122]:
a

[1, 3]

In [123]:
a=["yash","patil","alex","kevin","patil"]

In [125]:
a.remove("patil") # removes the first occurence of the given object

In [126]:
a

['yash', 'alex', 'kevin', 'patil']

In [127]:
del a[1]

In [128]:
a

['yash', 'kevin', 'patil']

In [129]:
del a

In [130]:
a

NameError: name 'a' is not defined

### Sorting and reversing

In [131]:
a=[5,4,6,3,7,1]

In [132]:
sorted(a)

[1, 3, 4, 5, 6, 7]

In [133]:
a.sort()

In [134]:
a

[1, 3, 4, 5, 6, 7]

In [135]:
for i in reversed(a):
    print(i)

7
6
5
4
3
1

In [136]:
a.reverse()

In [137]:
a

[7, 6, 5, 4, 3, 1]

### Tuples

Tuples are used to hold together multiple objects. Think of them as similar to list, but without the extensive functionality that the list class gives you.One major feature of tuples is that they are immutable like strings i.e you cannot modify tuples
Tuples are defined by specifying items seperated by commas within optional pair of paranthesses
Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values. i.e the tuple of values used will not change.

In [138]:
a=[1,2,3,4]

In [139]:
a[0]=5

In [140]:
a

[5, 2, 3, 4]

In [141]:
id(a) # memory address of list

2482256089024

In [142]:
a[0]=1

In [143]:
id(a)

2482256089024

In [144]:
#tuple
a=(1,2,3,4,5)

In [146]:
a[0] = 1  #immutable

TypeError: 'tuple' object does not support item assignment

In [147]:
def func(*args):
    print(args)

In [148]:
func(1,2,3,4)  # arguments passed in func never changes therefore tuple is used

(1, 2, 3, 4)

In [149]:
a=1,2

In [150]:
type(a)

tuple

In [151]:
a

(1, 2)

In [152]:
c,d=a

In [153]:
c

1

In [154]:
d

2

In [155]:
a=5
b=9

In [159]:
b,a=a,b

In [160]:
a

5

In [161]:
b

9

convert a tuple to list

In [162]:
a=(1,2,3,4)

In [163]:
a=list(a)

In [164]:
a

[1, 2, 3, 4]

In [165]:
a=list(range(15))

In [166]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [167]:
a=list("Yash")

In [168]:
a

['Y', 'a', 's', 'h']

In [171]:
a=tuple(a)   # conver a list to tuple

In [172]:
a

('Y', 'a', 's', 'h')

Returning multiple values from functions

In [173]:
def addsubtract(a,b):
    return a+b,a-b

In [178]:
sum,diff=addsubtract(12,3)

In [181]:
sum

15

In [180]:
diff

9

Some more operations

In [185]:
a=[1,3,2,6,4,7]

In [186]:
len(a)   # length of list

6

In [187]:
min(a)   # smallest item of list

1

In [188]:
max(a)  # largest item of list

7

In [194]:
a.index(7)   # tells the index of element

5

In [196]:
a.count(2) # total no of occurrences

1

### Dictionary 
- A dictionary is like an address-book where you can find the address or contact details of a person by knowing his/her name i.e we associate keys(name) with values(details).Note that key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.
- Remember that key-value pairs in a dictionary are not ordered in any manner.

In [199]:
a={
    "name": "yash",
    "marks": 90,
    "subjects":["eng","math"],
    "friends":{
        2:"Alex",
        3:"Jatin"
    }
}

In [200]:
a["name"]

'yash'

In [201]:
a["subjects"]

['eng', 'math']

In [204]:
a["friends"]

{2: 'Alex', 3: 'Jatin'}

In [205]:
a["friends"][2]

'Alex'

In [206]:
for key in a:
    print(key)

name
marks
subjects
friends

Some important dict methods 
- get()
- items()
- keys()
- values()
- clear()

In [208]:
# item - create tuple of key - value
for key,value in a.items():
    print(key,"->", value)

name -> yash
marks -> 90
subjects -> ['eng', 'math']
friends -> {2: 'Alex', 3: 'Jatin'}

In [210]:
# keys - written all the keys
for key in a.keys():
    print(key)

name
marks
subjects
friends

In [211]:
# values - written all the values 
for value in a.values():
    print(value)

yash
90
['eng', 'math']
{2: 'Alex', 3: 'Jatin'}

In [212]:
a["name"]

'yash'

In [215]:
a.get("name")   # safe method in case not found returns null not error

'yash'

In [216]:
a.clear()

In [217]:
a

{}

Challenge - write a simple python program which inputs and stores the data about the university students as a list of dictionaries.Your final record structure should look like this:
[
  {
    'roll-no' : 1211,
    'name': 'Ravi',
    'branch': 'CSE'
   },
   {
     'roll-no' : 202,
    'name': 'Abhishek',
    'branch': 'SE' 
   },
   {
    'roll-no' : 1202,
    'name': 'Sachin
    'branch': 'IT
   }
]

In [226]:
student =[]

In [227]:
n=int(input())

2

In [228]:
for i in range(n):
    roll=int(input())
    name=input()
    branch=input()
    student.append({
        "roll-no":roll,
        "name": name,
        "branch":branch
    })

1
Yash
CSE
2
Kevin
ece

In [229]:
student

[{'roll-no': 1, 'name': 'Yash', 'branch': 'CSE'},
 {'roll-no': 2, 'name': 'Kevin', 'branch': 'ece'}]

Keys in the dictionary can be any immutable DS

In [230]:
a={
    (1,2):"Yash"
}

In [231]:
a[(1,2)]

'Yash'

In [233]:
a={
    [1,2]:"Yash"
}

TypeError: unhashable type: 'list'

### SETS
- Set is a unordered data structure and isn't meant to be iterated - no way to access a particular item
- these are used when the existence of an object in a collection is more imp than the order or how many times it occurs
- using sets you can test for membership, whether it is a subset of another set,find the intersection between two sets and so on

In [234]:
a={1,2,3,4}

In [235]:
type(a)

set

In [236]:
a={}

In [237]:
type(a)

dict

In [239]:
a=set()

In [240]:
type(a)

set

common set operations

In [241]:
a={1,2,3,4}

In [242]:
b={3,4,5,6}

In [244]:
a.intersection(b)  # common from both sets

{3, 4}

In [246]:
a.union(b) # all the elements

{1, 2, 3, 4, 5, 6}

In [248]:
a-b  #values in set a but not in set b

{1, 2}

In [249]:
a[1]  #not indexable

TypeError: 'set' object is not subscriptable

In [250]:
for i in a:
    print(i)

1
2
3
4

In [251]:
c={1,2,3,4,1,2,3,4}

In [253]:
c  # all the duplicate values in set are removed

{1, 2, 3, 4}

In [254]:
a=[1,2,3,4,1,2,3]

In [255]:
list(set(a))  # remove all the duplicates from the list

[1, 2, 3, 4]

### Comprehension

In [256]:
a=[]
for i in range(10):
    a.append(i**2)

In [257]:
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

In [259]:
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

Dict comprehension

In [261]:
{i:i**2 for i in range(10) if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [263]:
{i**2 for i in range(10) if i%2==0}   # set comprehension

{0, 4, 16, 36, 64}

not tuple comprehension

In [264]:
a=(i**2 for i in range(10))

In [265]:
a  # study -later